body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 200px solid whitesmoke;
    height: 0%;
}
.bold-text{
    padding-left:25rem;
    margin: 5rem;
}
/* .cone1{
    font-size: xx-large;
    padding-bottom: 5rem;
} */
.cone2{
    padding-right: 5rem;
    font-size: xx-large;
    margin: 0rem;
    text-align: center;
}
.card__image{
    width: 30rem;
    height: 200px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.card__image1{
    width: 30rem;
    height: 200px; 
    padding-left: 1rem;
}
.head-container{
    display: flex;
    justify-content: space-between;
}
.head-container p{
    text-align: center;
    text-transform: lowercase;
    font-size:large;
    padding-top: 50px;
    color: #949090;
}
.letter{
   font-family: 'Ubuntu', sans-serif;
   text-align: center;
   text-overflow: clip;
   padding-bottom: 50rem;
}
.btn-spread{
    display: flex;
    padding: 1rem;
    height: 0cm 1cm 3cm;
}
.btn-spread button{
    margin: 6px 10px;
    padding: 2rem;
    border-radius: 3rem;
    font-family:'Ubuntu', sans-serif;
}
.btn1{
    font-size: large;
    color: #ffff;
    background-color: #008080;
    outline:#ffff;
}
.btn2{
    font-size: large;
    color: #ffff;
    background-color: #880d88;
    outline:#ffff;
}
/* .btn1:hover{
background: #2d669d;
color: #ffff;
outline: auto;
font-size: larger;
} */
.box-containers{
    display:flex;
}
.box-1{
    width: 240px;
    border-radius: 1rem;
    padding-left: 15px;
    height: 30vh;
}
.box-2{
    width: 240px;
    border-radius: 19px;
    padding-left: 15px;
    height: 30vh;

}
.box-3{
    width: 240px;
    border-radius: 1rem;
    padding-left: 15px;
    height: 30vh;
}
.box-4{
    width: 240px;
    border-radius: 1rem;
    padding-left: 15px;
    height: 30vh;
}
.third-container{
    text-align: center;
    font-size: larger;
    font-family: 'Ubuntu', sans-serif;
    /* color: #2d669d; */
}
.third-container h2{
    font-style: normal;
}
.bold{
    color: #2d669d;
    text-transform: uppercase;
    font-style: bold;
}
.end{
    text-align: center;
    font-size: normal;
    font-family:'Ubuntu', sans-serif;
    font-style: bold;
}
.end p{
    color: rgb(161, 152, 152);
    font-size: large;
}